<%= render 'shared/ariadna' %>
<%= render 'filter' %>
<div class="body-bg">
  <div class="row">
    <div class="large-12 columns" data-stats>
      <h3 class="text-center">Convenios del gobierno de Aragón</h3>
      <br>
      <div class="row">
        <div class="large-12 columns">
          <sub class="left">Última actualización <time datetime="2013-10-25">25/10/2013</time>. Perioricidad actualización 6 meses.</sub>
          <sub class="right">FUENTE: Departamento de personal | CONTACTO: <a href="mailto:transparencia@aragon.es">transparencia@aragon.es</a></sub>
          <hr class="soft-divider">
          <a href="http://www.aragon.es/DepartamentosOrganismosPublicos/Departamentos/PresidenciaJusticia/AreasTematicas/Registro_Convenios/Consulta_registro/ci.Consulta_todos_convenios.detalleDepartamento?channelSelected=0" target="blank" class="buscador-avanzado">ACCEDER AL BUSCADOR AVANZADO DE LA BASE DE DATOS DE CONVENIOS DEL GOBIERNO DE ARAGÓN &gt;</a>
        </div>

        <% if @agreements.size > 0 %>
        <div class="large-6 columns" data-grid>
          <div class="row">
            <div class="square">
              <p></p>
              <p class="boxed-text"><span>CONVENIOS FIRMADOS <%if params[:year] and params[:year]!=""%>EN <%=params[:year]%><%else%>DESDE 2008<%end%>:</span></p>
              <p class="main-text"><%=@agreements.size%><br><sub></sub></p>
              <p></p>
            </div>
            <div class="square">
              <p></p>
              <p class="boxed-text"><span>NÚMERO DE ENTIDADES INVOLUCRADAS:</span></p>
              <p class="main-text"><%= number_of_entities(@agreements)%></p>
              <p></p>
            </div>
          </div>
          <div class="row">
            <div class="square">
              <p><%= number_to_human(highest_amount_agreement(@agreements)) %> &euro; es la mayor aportación</p>
              <p class="boxed-text"><span>CONVENIOS CON TERCEROS</span></p>
              <p class="main-text"><%= number_to_human(total_of_amount_agreements(@agreements)) %><br><sub>euros</sub></p>
              <p><%= number_to_human(lowest_amount_agreement(@agreements))%> &euro; es la menor aportación</p>
            </div>
            <div class="square">
              <p><%= highest_dga_contribution_percentage(@agreements)%> % es la mayor participación</p>
              <p class="boxed-text"><span>PARTICIPACIÓN MEDIA:</span></p>
              <p class="main-text"><%=dga_contribution_percentage(@agreements)%> %<br><sub>participación DGA</sub></p>
              <p><%=lowest_dga_contribution_percentage(@agreements)%> % es la menor participación</p>
            </div>
          </div>
        </div>
        <div class="large-6 columns" data-grid>
          <div class="row">
            <div id="agreements_by_month">
            <div class="graph-cont">
              <svg class="graph-item"></svg>
              <div class="infobox"></div>
              <%= agreements_chart(@agreements)%>
              </div>
            </div>
          </div>
        </div>
        <% else %>
        <div class="large-12 columns" data-grid>
          <div class="row">
            <hr class="orange">
            <h5>No hay convenios que coincidan con esos criterios de búsqueda</h5>
            <hr>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if @agreements.size > 0 %>
  <div class="row">
    <div class="noticias" data-news>
    <hr class="orange">
    <h5>LISTADO DE CONVENIOS FIRMADOS</h5>
    <hr>
    <ul>
    <%for agreement in @paginated_agreements %>
      <li><%= link_to agreement.title.html_safe, agreement_path(agreement, request.query_parameters) %><time datetime="<%=agreement.agreement_date%>"><%=agreement.agreement_date%></time> - <%=agreement.signatories.html_safe%>
      </li>
      <hr>
    <% end %>
    </ul>
  </div>
  </div>

  <div class="paginacion">
    <div class="row">
      <div class="large-11 columns large-centered">
        <div class="large-12 columns no-gap">
          <%= will_paginate @paginated_agreements, :next_label => "SIGUIENTE >", :previous_label => "< ANTERIOR" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <%= render 'glosario' %>
</div>
