<%= render 'shared/ariadna' %>
<%= render 'filter' %>
<div class="body-bg">
  <div class="row">
    <div class="large-12 columns" data-stats>
      <h3 class="text-center">Convenios del gobierno de Aragón</h3>
      <br>
      <div class="row">
        <div class="large-12 columns">
          <sub class="left">Última actualización <time datetime="2013-10-25">25/10/2013</time>. Perioricidad actualización 6 meses.</sub>
          <sub class="right">FUENTE: Departamento de personal | CONTACTO: <a href="#">transparencia@aragon.es</a></sub>
          <hr class="soft-divider">
          <a href="#" class="buscador-avanzado">ACCEDER AL BUSCADOR AVANZADO DE LA BASE DE DATOS DE CONVENIOS DEL GOBIERNO DE ARAGÓN &gt;</a>
        </div>
        <div class="large-6 columns" data-grid>
          <div class="row">
            <div class="square">
              <p></p>
              <p class="boxed-text"><span>CONVENIOS FIRMADOS EN <%=@agreements.first.year%>:</span></p>
              <p class="main-text"><%=@agreements.size%><br><sub></sub></p>
              <p></p>
            </div>
            <div class="square">
              <p></p>
              <p class="boxed-text"><span>NÚMERO DE ENTIDADES INVOLUCRADAS:</span></p>
              <p class="main-text"><%= number_of_entities(@agreements)%></p>
              <p></p>
            </div>
          </div>        
          <div class="row">
            <div class="square">
              <p><%= number_to_human(highest_amount_agreement(@agreements)) %> &euro; es la mayor aportación</p>
              <p class="boxed-text"><span>CONVENIOS CON TERCEROS</span></p>
              <p class="main-text"><%= number_to_human(total_of_amount_agreements(@agreements)) %><br><sub>euros</sub></p>                
              <p><%= lowest_amount_agreement(@agreements)%> &euro; es la menor aportación</p>
            </div>
            <div class="square">
              <p><%= highest_dga_contribution_percentage(@agreements)%> % es la mayor participación</p>
              <p class="boxed-text"><span>PARTICIPACIÓN MEDIA:</span></p>
              <p class="main-text"><%=dga_contribution_percentage(@agreements)%> %<br><sub>participación DGA</sub></p>
              <p><%=lowest_dga_contribution_percentage(@agreements)%> % es la menor participación</p>
            </div>
          </div>            
        </div>
        <div class="large-6 columns" data-grid>
          <div class="row">
            <div id="agreements_by_month">
              <svg style="stroke: steelblue;stroke-width: 1;fill: none; font-size:10px"></svg>
              <div class="infobox" ></div>
              <%= agreements_by_month(@agreements)%>
              </div>
              <style type="text/css">
              .infobox {
               border:2px solid steelblue;
               border-radius:4px;
               box-shadow:#333333 0px 0px 10px;
               margin:200px auto;
               padding:5px 10px;
               background:rgba(255, 255, 255, 0.8);
               position:absolute;
               top:0px;
               left:0px;
               display: none;
               font-weight:bold;
               
               }
              </style>
          </div>
        </div>
      </div>
      <div class="row">
        <hr>
      </div>
      <div class="large-12 columns">
        <br>
        <br>
        <div class="row">
        <%= form_tag agreements_path, {:method=>'GET'} do %>
            Título del convenio: <%= text_field_tag(:title, params[:title], :placeholder => "escriba el título del convenio") %><br>
            Firmante: <%= text_field_tag(:signatories, params[:signatories], :placeholder => "escriba el nombre del firmante") %><br>
            Año: <%= select_tag(:year, options_for_select(2002..2013)) %><br>
          <%= submit_tag "Filtrar" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="noticias" data-news>
    <hr class="orange">
    <h5>CONVENIOS FIRMADOS CON AYUNTAMIENTOS</h5>
    <hr>
    <ul>
    <%for agreement in @agreements %>
      <li><%= link_to agreement.title, agreement_path(agreement) %><time datetime="<%=agreement.agreement_date%>"><%=agreement.agreement_date%></time> - <%=agreement.signatories%>
      </li>
      <hr>
    <% end %>
    </ul>
  </div>
  </div>

  <div class="paginacion">
    <div class="row">
      <div class="large-9 columns large-centered">
        <div class="large-3 columns"><a href="#" class="right">< ANTERIOR</a></div>
        <div class="large-6 columns no-gap">
        <%= will_paginate @agreements, renderer: FoundationPagination::Rails %>
        </div>
        <div class="large-3 columns"><a href="#" class="left">SIGUIENTE ></a></div>
      </div>
    </div>
  </div>

  <div class="row" data-body>
    <div class="large-12 columns">
      <div class="titulo wiki">
        <div class=" linea"><hr></div>
        <h4>GLOSARIO DE TÉRMINOS</h4>
        <div class=" linea"><hr></div> 
      </div>
      <div class="large-12 columns">
        <div class="wiki-list">
          <p><span>LOREM IPSUM</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, architecto explicabo aliquam enim commodi quia veritatis tenetur fugit ipsum est. Hic, repellat dolorem aliquam quae repellendus velit dolore! Aliquid, ducimus.</p>
        </div>
        <div class="wiki-list">
          <p><span>LOREM IPSUM</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, architecto explicabo aliquam enim commodi quia veritatis tenetur fugit ipsum est. Hic, repellat dolorem aliquam quae repellendus velit dolore! Aliquid, ducimus.</p>
        </div>
        <div class="wiki-list">
          <p><span>LOREM IPSUM</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, architecto explicabo aliquam enim commodi quia veritatis tenetur fugit ipsum est. Hic, repellat dolorem aliquam quae repellendus velit dolore! Aliquid, ducimus.</p>
        </div>
        <div class="wiki-list">
          <p><span>LOREM IPSUM</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, architecto explicabo aliquam enim commodi quia veritatis tenetur fugit ipsum est. Hic, repellat dolorem aliquam quae repellendus velit dolore! Aliquid, ducimus.</p>
        </div>
        <div class="wiki-list">
          <p><span>LOREM IPSUM</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, architecto explicabo aliquam enim commodi quia veritatis tenetur fugit ipsum est. Hic, repellat dolorem aliquam quae repellendus velit dolore! Aliquid, ducimus.</p>
        </div>
        <div class="wiki-list">
          <p><span>LOREM IPSUM</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, architecto explicabo aliquam enim commodi quia veritatis tenetur fugit ipsum est. Hic, repellat dolorem aliquam quae repellendus velit dolore! Aliquid, ducimus.</p>
        </div>
        <div class="wiki-list">
          <p><span>LOREM IPSUM</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, architecto explicabo aliquam enim commodi quia veritatis tenetur fugit ipsum est. Hic, repellat dolorem aliquam quae repellendus velit dolore! Aliquid, ducimus.</p>
        </div>
        <div class="wiki-list">
          <p><span>LOREM IPSUM</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, architecto explicabo aliquam enim commodi quia veritatis tenetur fugit ipsum est. Hic, repellat dolorem aliquam quae repellendus velit dolore! Aliquid, ducimus.</p>
        </div>
      </div>
    </div>
  </div>     
</div>
