<strong><%=@agreement.title%></strong><br>
Sección: <%=@agreement.section%><br>
Fecha de la firma del convenio: <%=@agreement.signature_date%><br>
Cantidad aportada por la DGA: <%=@agreement.dga_contribution%><br>
Cantidades aportadas por otros contribuidores: <%=@agreement.another_contributions%><br>
Intervinientes: <%=@agreement.signatories%><br>


<%for url in @agreement.pdf_urls%>
<iframe src="http://docs.google.com/viewer?url=<%=url%>&embedded=true" width="800" height="500" style="border: none;"></iframe>
<br/>
<a href="<%=url%>">Descargar en PDF</a> 
<% end %>

<br><br><br>
Observaciones: <%=@agreement.observations%><br>
Adendas: <%=@agreement.addendums%><br>
Notas: <%=@agreement.notes%><br>