<%= render 'ariadna' %>
<div class="body-bg">
  <div class="row">
    <div class="large-12 columns" data-stats>
      <h3 class="text-center">Convenios del Gobierno de Aragón</h3>
      <br>
      <div class="large-4 columns large-centered text-center"><p><%=filter_text%></p></div>
      <div class="row">
        <div class="large-12 columns">
          <sub class="left">Última actualización <time datetime="2013-10-25">25/10/2013</time>. Perioricidad actualización 6 meses.</sub>
          <sub class="right">FUENTE: Departamento de personal | CONTACTO: <a href="mailto:transparencia@aragon.es">transparencia@aragon.es</a></sub>
          <hr class="soft-divider">
          <a href="http://www.aragon.es/DepartamentosOrganismosPublicos/Departamentos/PresidenciaJusticia/AreasTematicas/Registro_Convenios/Consulta_registro/ci.Consulta_todos_convenios.detalleDepartamento?channelSelected=0" target="blank" class="buscador-avanzado">ACCEDER AL BUSCADOR AVANZADO DE LA BASE DE DATOS DE CONVENIOS DEL GOBIERNO DE ARAGÓN &gt;</a>
        </div>
        <div class="large-12 columns">
          <br>
          <hr class="orange less-margin">
        </div>
      </div>
    </div>
    <div class="large-12 columns" data-visor>
      <p><%= @agreement.title.html_safe %></p>
      <ul>
        <li><span>SECTOR:</span><%=@agreement.section%></li>
        <li><span>FECHA DE LA FIRMA DEL CONVENIO:</span><%=@agreement.signature_date%></li>
        <li><span>FECHA DEL ACUERDO DEL CONVENIO:</span><%=@agreement.agreement_date%></li>
        <li><span>CANTIDAD APORTADA POR LA DGA:</span><%=@agreement.dga_contribution%></li>
      </ul>
      <ul>
        <li><span>CANTIDADES APORTADAS POR OTROS CONTRIBUIDORES:</span><%=@agreement.another_contributions%></li>
        <li><span>CUANTÍA TOTAL:</span><%=@agreement.amount%></li>
        <li><span>INTERVINIENTES:</span><%=@agreement.signatories.html_safe%></li>
      </ul>

<%for pdf_url in @agreement.pdf_urls%>
  <div class="row iframe-cont">
    <iframe src="http://docs.google.com/viewer?url=<%=CGI.escape pdf_url[:url]%>&embedded=true" width="800" height="500" style="border: none;"></iframe>
    <div class="large-12 columns">
    <div class="large-3 columns">
      <a href="<%=pdf_url[:url]%>" class="left">DESCARGAR EN PDF <span class="icon icon-in"></span></a>
    </div>
    <div class="large-5 columns text-center" style="padding:0.4em 0;"><sub><%= pdf_url[:description]%></sub></div>
    <div class="large-4 columns"><a href="mailto:transparencia@aragon.es" class="right">NOTIFICAR UN ERROR EN LOS DATOS ></a></div>
    </div>
  </div>
<% end %>

<!--
Observaciones: <%=@agreement.observations%><br>
Adendas: <%=@agreement.addendums%><br>
Notas: <%=@agreement.notes%><br>
-->

  <%= render 'glosario' %>
    </div>
  </div>
</div>