<style>
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #f49d81;
}

.x.axis path {
  display: none;
}

</style>

<div style="border: 1px solid #CCC; margin: 20px; padding: 20px; float: left; width: 94%;">
	<div style="width: 15%; float: left; border-right: 1px solic #ccc;">
		<p><a href="#">Número de personas</a></p>
		<p><a href="#">Salarios</a></p>
		<p><a href="#">Edad</a></p>
		<p><a href="#">Antigüedad</a></p>
	</div>
	<div style="width: 15%; float: left; border-right: 1px solic #ccc;">
		<p><a href="#">en todo aragón</a></p>
		<p><a href="#">en todos los departamentos</a></p>
		<p><a href="#">en todas las modalidades</a></p>
	</div>
	<div style="width: 30%; float: left;">
		<%= form_tag personal_path, {:method=>'GET'} do %>
		<%= select_tag(:province, options_for_select(provinces), prompt: "Seleccione una provincia") %><br />
		<%= select_tag(:modality, options_for_select(modalities), prompt: "Seleccione una modalidad") %><br />
		<%= select_tag(:department, options_for_select(divisions), prompt: "Seleccione un departamento") %><br />	
		<input placeholder="nombre de la localidad"></input>
			<%= submit_tag "Busca", onclick: 'form.submit()' %>
		<% end %>
	</div>
	<div style="width: 40%; float: right;">
		<h1 style="font-size: 40px;">Agrupaciones de datos de personal</h1>
	</div>
</div>
<div style="border: 1px solid #CCC; margin: 20px; padding: 20px; float: left; width: 94%;">
	<div style="width: 26%; float: right; height: 200px;" id="map">
	</div>
<% unless @people.empty? %>
	<div style="width: 30%; background-color: #ccc; float: left; margin: 0 2% 2% 0;">
		<p><%= @people.size %> empleados públicos</p>
	</div>
	<div style="width: 30%;  background-color: #ccc; float:left; margin: 0 2% 2% 0;">
		<p><%= highest_payroll(@people)%> € año es el salario más alto</p>
		<p><%= payroll_average(@people)%> € año salario medio de empleados públicos</p> 
		<p><%= lowest_payroll(@people)%> € año es el salario más bajo</p>
	</div>
	<div style="width: 30%;  background-color: #ccc; float:left; margin-right: 2%;">
		<p><%= older_age(@people)%> años tiene el empleado más mayor</p>
		<p><%= age_average(@people)%> años de media de edad</p> 
		<p><%= younger_age(@people)%> años tiene el empleado más joven</p>
	</div>
	<div style="width: 30%;  background-color: #ccc; float:left; margin-right: 2%;">
		<p><%= veteran_time(@people)%> años en la casa el más antigüo</p>
		<p><%= time_average(@people)%> años de media de antigüedad</p>
		<p><%= rookie_time(@people)%> años en la casa el más reciente</p>
	</div>
</div>

<div>
	<svg id="genre_percentage"></svg>
	<br>
	Hombres: <span id="number_of_men"><%= number_of_men(@people) %></span>/
	Mujeres: <span id="number_of_women"><%= number_of_women(@people) %></span>
</div>
<br>
<div id="by_place">
 	<h3>Salarios medios por localidad</h3>
 	<svg style="border:1px solid black"></svg>
	<ul>
	<%for personal in payroll_average_by_place %>
		<li><span class="label"><%=personal.subdivision_description%></span> -  <span class="value"><%=personal.total_payroll%></span></li>
	<%end%>
	</ul>
</div>
<br>
<div id="by_department">
	<h3>Salarios medios por departamentos y centros</h3>
	<svg style="border:1px solid black"></svg>
	<ul>
	<%for personal in payroll_average_by_department %>
		<li><span class="label"><%=personal.department_description%></span> -  <span class="value"><%=personal.total_payroll%></span></li>
	<%end%>
	</ul>
</div>
<br>
<div id="by_tipology">
	<h3>Salarios medios por tipología de personal</h3>
	<svg style="border:1px solid black"></svg>
	<ul>
	<%for personal in payroll_average_by_titulation %>
		<li><span class="label"><%=personal.titulation_description%></span> -  <span class="value"><%=personal.total_payroll%></span></li>
	<%end%>
	</ul>
</div>
<% else %>
	<div>
		<h3>No hay datos disponibles</h3>
	</div>
<% end %>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&language=es"></script>
<br><br>