<div style="border: 1px solid #CCC; margin: 20px; padding: 20px; float: left; width: 94%;">
	<h2>Empleados públicos del Gobierno de Aragón</h2>
	<%= form_tag personal_path, {:method=>'GET'} do %>
	  <%= select_tag(:province, options_for_select(['Huesca', 'Teruel', 'Zaragoza'])) %>
	  <%= submit_tag "Busca" %>
	<% end %>
</div>

<div style="border: 1px solid #CCC; margin: 20px; padding: 20px; float: left; width: 94%;">
	<div style="width: 20%; float: left; border-right: 1px solic #ccc;">
		<p><a href="#">Número de personas</a></p>
		<p><a href="#">Salarios</a></p>
		<p><a href="#">Edad</a></p>
		<p><a href="#">Antigüedad</a></p>
	</div>
	<div style="width: 20%; float: left; border-right: 1px solic #ccc;">
		<p><a href="#">en todo aragón</a></p>
		<p><a href="#">en todos los departamentos</a></p>
		<p><a href="#">en todas las modalidades</a></p>
	</div>
	<div style="width: 20%; float: left;">
		<select>
			<option>seleccione provincia</option>
		</select>
		<select>
			<option>seleccione comarca</option>
		</select>
		<input placeholder="nombre de la localidad"></input>
	</div>
	<div style="width: 40%; float: right;">
		<h1 style="font-size: 40px;">Agrupaciones de datos de personal</h1>
	</div>
</div>
<div style="border: 1px solid #CCC; margin: 20px; padding: 20px; float: left; width: 94%;">
	<div style="width: 26%; float: right; height: 200px;" id="map">
	</div>
	<div style="width: 30%; background-color: #ccc; float: left; margin: 0 2% 2% 0;">
		<p><%= @people.size %> empleados públicos</p>
		<p><%= @older['Edad del empleado']%> años tiene el empleado más mayor</p>
	</div>
	<div style="width: 30%;  background-color: #ccc; float:left; margin: 0 2% 2% 0;">
		<p><%= @ages_average%> años de media de edad</p> 
		<p><%= @younger['Edad del empleado']%> años tiene el empleado más joven</p>
	</div>
	<div style="width: 30%;  background-color: #ccc; float:left; margin-right: 2%;">
		<p><%= @veteran['Trienios_nomina'].to_i * 3%> años en la casa el más antigüo</p>
		<p><%= @triennia_average * 3%> años de media de antigüedad</p>
	</div>
	<div style="width: 30%;  background-color: #ccc; float:left; margin-right: 2%;">
		<p><%= @rookie['Trienios_nomina'].to_i * 3%> años en la casa el más reciente</p>
	</div>
</div>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&language=es"></script>
