<h2>Empleados públicos del Gobierno de Aragón</h2>
<%= form_tag personal_path, {:method=>'GET'} do %>
  <%= select_tag(:province, options_for_select(['Huesca', 'Teruel', 'Zaragoza'])) %>
  <%= submit_tag "Busca" %>
<% end %>

<style type="text/css">
 #map{ height: 300px; width:500px; }
</style>

<div id="map"></div>


<h1>Agrupaciones de datos de personal</h1>
<p><%= @people.size %> empleados públicos</p>
<p><%= @older['Edad del empleado']%> años tiene el empleado más mayor</p>
<p><%= @ages_average%> años de media de edad</p> 
<p><%= @younger['Edad del empleado']%> años tiene el empleado más joven</p> 

<p><%= @veteran['Trienios_nomina'].to_i * 3%> años en la casa el más antigüo</p>
<p><%= @triennia_average * 3%> años de media de antigüedad</p> 
<p><%= @rookie['Trienios_nomina'].to_i * 3%> años en la casa el más reciente</p>
<p></p>
<%if @people%>
<h3>Grados/Titulaciones:</h3>
<ul>
	<%for titulation in @titulations%>
	<li><%= titulation %></li>
	<% end %>
</ul>
<h3>Grupos de personal:</h3>
<ul>
	<%for group in @groups%>
	<li><%= group %></li>
	<% end %>
</ul>
<h3>Modalidades:</h3>
<ul>
	<%for mode in @modes%>
	<li><%= mode %></li>
	<% end %>
</ul>
<h3>Áreas de personal:</h3>
<ul>
	<%for area in @areas%>
	<li><%= area %></li>
	<% end %>
</ul>
<h3>División de personal:</h3>
<ul>
	<%for division in @divisions%>
	<li><%= division %></li>
	<% end %>
</ul>
<h3>Subdivisión de personal:</h3>
<ul>
	<%for subdivision in @subdivisions%>
	<li><%= subdivision %></li>
	<% end %>
</ul>


<%end%>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&language=es"></script>