    <% menu_items = Refinery::Menu.new(Refinery::Page.in_menu).items.reverse %>
    <div class="row">
      <div class="large-9 columns">
        <div class="row">
          <div class="large-12 columns">
            <% for item in menu_items.slice(0,3) %>
            <div class="large-4 columns">
              <h5><%= item.title %></h5>
              <ul>
                <% item.children.each do |child| %>
                <li><%= link_to child.title, child.url%></li>
                <% end %>
              </ul>
            </div>
            <% end %>
          </div>
          <div class="large-12 columns">
            <% item = menu_items.fourth %>
            <div class="large-4 columns">
              <h5><%= item.title %></h5>
              <ul>
                <% item.children.each do |child| %>
                <li><%= link_to child.title, child.url%></li>
                <% end %>
              </ul>
            </div>
            <div class="large-4 columns">
              <h5>PARTICIPACIÓN CIUDADANA</h5>
              <ul>
                <li><a href="http://aragonparticipa.aragon.es/agenda" title="Agenda">Agenda</a></li>
                <li><a href="http://aragonparticipa.aragon.es/documentacion/normativa-internacional" title="Documentos y enlaces">Documentos y enlaces</a></li>
                <li><a href="http://aragonparticipa.aragon.es/aragon/procesos_en_marcha" title="Procesos de participación">Procesos de participación</a></li>
                <li><a href="http://aragonparticipa.aragon.es/actualidad" title="Actualidad">Actualidad</a></li>
                <li><a href="http://aragonparticipa.aragon.es/cursos-jornadas" title="Jornadas y cursos">Jornadas y cursos</a></li>
                <li><a href="http://aragonparticipa.aragon.es/ambito/procesos_participativos" title="Ayuntamientos y comarcas">Ayuntamientos y comarcas</a></li>
              </ul>              
            </div>
            <div class="large-4 columns">
              <h5>OPEN DATA</h5>
              <ul>
                <li><a href="http://opendata.aragon.es/portal/open-data" title="Información">Información</a></li>
                <li><a href="http://opendata.aragon.es/catalogo/catalogo.html" title="Búsqueda">Búsqueda</a></li>
                <li><a href="http://opendata.aragon.es/terminos" title="Términos de uso">Términos de uso</a></li>
                <li><a href="http://opendata.aragon.es/portal/aplicaciones" title="Aplicaciones">Aplicaciones</a></li>
                <li><a href="http://opendata.aragon.es/portal/colabora" title="Colabora">Colabora</a></li>
              </ul>              
            </div>
          </div>      
        </div>
      </div>
      <div class="large-offset-by-1 large-2 columns">
        <div class="row">
          <div class="large-12 columns">
            <%= image_tag "gobaragon-grey.png", { alt: "Gobierno de Aragón", class: "logo-ft" } %>
          </div>
        </div>
      </div>
    </footer>
    <div class="sub-footer">
      <div class="row">
        <div class="large-12">
          <div class="large-9 columns">
            <div class="row">
              <div class="large-12 columns">
                <h6>GOBIERNO DE ARAGÓN.</h6>
                <ul>
                  <li><a href="#" title="">Política de Privacidad</a></li>
                  <li><a href="#" title="">Aviso Legal</a></li>
                  <li><a href="#" title="">Accesibilidad</a></li>
                </ul>  
                <p>Edificio Pignatelli. Paseo de María Agustín, 36. 50071 Zaragoza. Tel. 976 714 0000</p>
              </div>
            </div>
          </div>
            <div class="large-3 columns">
              <h6>CONTACTO</h6>
              <p><a href="#">transparencia@aragon.es</a></p>
            </div>
        </div>
      </div>
    </div>