    <% menu_items = navigation_menu%>
    <div class="row">
      <div class="large-9 columns">
        <div class="row">
          <div class="large-12 columns">
            <% for item in menu_items.slice(0,3) %>
            <div class="large-4 columns">
              <h5><%= item.title %></h5>
              <ul>
                <% item.children.each do |child| %>
                <%if child.deletable?%>
                <li><%= link_to child.title, "/#{child.url[:path].join('/')}"%></li>
                <% end %>
                <% end %>
              </ul>
            </div>
            <% end %>
          </div>
          <div class="large-12 columns">
            <% item = menu_items.fourth %>
            <div class="large-4 columns">
              <h5><%= item.title %></h5>
              <ul>
                <% item.children.each do |child| %>
                <%if child.deletable?%>
                <li><%= link_to child.title, "/#{child.url[:path].join('/')}"%></li>
                <% end %>
                <% end %>
              </ul>
            </div>
            <div class="large-4 columns">
              <h5>PARTICIPACIÓN CIUDADANA</h5>
              <ul>
                <li><a href="http://aragonparticipa.aragon.es/agenda" title="Agenda">Agenda</a></li>
                <li><a href="http://aragonparticipa.aragon.es/documentacion/normativa-internacional" title="Documentos y enlaces">Documentos y enlaces</a></li>
                <li><a href="http://aragonparticipa.aragon.es/aragon/procesos_en_marcha" title="Procesos de participación">Procesos de participación</a></li>
                <li><a href="http://aragonparticipa.aragon.es/actualidad" title="Actualidad">Actualidad</a></li>
                <li><a href="http://aragonparticipa.aragon.es/cursos-jornadas" title="Jornadas y cursos">Jornadas y cursos</a></li>
                <li><a href="http://aragonparticipa.aragon.es/ambito/procesos_participativos" title="Ayuntamientos y comarcas">Ayuntamientos y comarcas</a></li>
              </ul>              
            </div>
            <div class="large-4 columns">
              <h5>OPEN DATA</h5>
              <ul>
                <li><a href="http://opendata.aragon.es/catalogo/catalogo.html" title="Datos en Aragón Open Data">Datos</a></li>
                <li><a href="http://opendata.aragon.es/aragopedia/" title="AragoPedia">AragoPedia</a></li>
                <li><a href="http://opendata.aragon.es/portal/social-data" title="Social Data">Social Data</a></li>
                <li><a href="http://opendata.aragon.es/portal/colabora" title="Colabora con Aragón Open Data">Colabora</a></li>
                <li><a href="http://opendata.aragon.es/portal/aplicaciones" title="Aplicaciones con datos abiertos">Aplicaciones</a></li>
                <li><a href="http://opendata.aragon.es/portal/open-data" title="Información sobre Aragón Open Data">Info Open Data</a></li>
              </ul>              
            </div>
          </div>      
        </div>
      </div>
      <div class="large-offset-by-1 large-2 columns">
        <div class="row">
          <div class="large-12 columns">
            <%= image_tag "gobaragon-grey.png", { alt: "Gobierno de Aragón", class: "logo-ft" } %>
          </div>
        </div>
      </div>
    </footer>
    <div class="sub-footer">
      <div class="row">
        <div class="large-12">
          <div class="large-9 columns">
            <div class="row">
              <div class="large-12 columns">
                <h6>GOBIERNO DE ARAGÓN.</h6>
                <ul>
                  <li><a href="/home/politica-de-privacidad" title="">Política de Privacidad</a></li>
                  <li><a href="/home/aviso-legal" title="">Aviso Legal</a></li>
                  <li><a href="/home/accesibilidad" title="">Accesibilidad</a></li>
                </ul>  
                <p>Edificio Pignatelli. Paseo de María Agustín, 36. 50071 Zaragoza. Tel. 976 714 0000</p>
              </div>
            </div>
          </div>
            <div class="large-3 columns">
              <h6>CONTACTO</h6>
              <p><a href="mailto:transparencia@aragon.es">transparencia@aragon.es</a></p>
            </div>
        </div>
      </div>
    </div>
